*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}
ul,ol,li{
    list-style: none;
}
a{
    display: inline-block;
    text-decoration: none;
}
img{
    vertical-align: middle;
}
/* css start here */
header{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: yellow;
    color: black;
    align-items: center;
}